.sidebar {
    position: fixed;
    width: 22rem;
    height: 100vh;
    left: 0;
    overflow: hidden;
    padding: 0 2rem 1rem 3rem;
}

.sidebar_links {
    list-style: none;
}

.sidebar_links li {
    cursor: pointer;
    height: 48px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--COLOR-GREY-400);
}



.sidebar_links li span {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--COLOR-LIGHT-BACKGROUND);
    border-radius: 8px;
    margin-right: 1rem;
    color: var(--COLOR-GREY-400);
    font-size: 2.2rem;
}

.sidebar_links .active-link li {
    color: var(--COLOR-WHITE);
    font-weight: 800
}

.sidebar_links .active-link span {
    background-color: var(--primary-dark-color);
    font-weight: 800;
    color: var(--COLOR-WHITE);
}

.sidebar_links li:hover,
.sidebar_links span:hover {
    color: var(--COLOR-WHITE);
    transition: .3s linear;
}

.sidebar_links span:hover {
    background-color: var(--primary-dark-color);
    color: var(--COLOR-WHITE);
}

li{
    list-style: none;
}

.personal_links {
    margin-left: 4.5rem;
    bottom: 15rem;
}

.personal_links li {
    text-decoration: none;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    margin-right: 1rem;
    color: var(--COLOR-GREY-400);
    font-size: 2.2rem;
}

.personal_links li:hover{
    color: var(--COLOR-WHITE);
}